@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');
        * {
            box-sizing: border-box;
        }
        
        body {
            margin: 0px;
            padding: 0px;
        }
        
        p {
            font-family: 'Montserrat', sans-serif;
            font-size: 16px;
        }
        
        .clearfix {
            overflow: auto;
        }
        
        a {
            text-decoration: none;
            color: #000;
        }
        
        a:hover {
            text-decoration: none;
            color: #feb902;
        }
        
        h1 {
            line-height: 1.38;
            font-family: 'Montserrat', sans-serif;
        }
        
        h2 {
            line-height: 1.38;
            font-family: 'Montserrat', sans-serif;
        }
        
        .sections {
            padding: 140px 0px;
        }
        /* header css end here  */
        /* Header starts css */
        
        .main_nav {
            max-height: 100px;
            height: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: rgba(26, 26, 26, 0.73) !important;
            position: relative;
        }

        .navbar-expand-lg .navbar-nav .nav-link {
            font-family: 'Montserrat', sans-serif !important;
        }
        
        .main_logo {
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }
        
        .contact-details {
            text-align: center;
            border-left: 2px solid #fff;
            margin-left: 20px;
            padding-left: 20px;
        }
        
        .contact-details h3 {
            font-size: 16px;
            font-weight: 500;
            color: #fff;
            font-family: Open Sans;
        }
        
        .contact-details h3 span {
            font-size: 17px;
            font-weight: 600;
            color: #feca0a;
            padding-top: 2px;
            font-family: Open Sans;
        }
        
        .navbar-brand img {
            width: 85px;
            height: auto;
        }
        
        .navbar-expand-lg .navbar-nav .nav-link {
            font-size: 21px;
            color: #fff;
            font-weight: 500;
            font-family: Open Sans;
            padding-left: 1rem;
            padding-right: 1rem;
        }
        
        .dropdown:hover>.dropdown-menu {
            display: block;
        }
        
        .dropdown-item:hover>.dropdown-menu {
            display: block;
        }
        /* menu buttons start */
        
        .call-login-button .custom-button {
            border: 0px;
            background-color: transparent !important;
        }
        
        .custom-button .fa.fa-user {
            color: #feca0a;
            font-size: 20px;
            padding-right: 20px;
        }
        
        button {
            border: none;
            background-color: transparent;
        }
        
        .request-button a {
            color: #000;
            font-size: 16px;
            font-weight: 600;
            font-family: 'Montserrat', sans-serif;
            text-transform: uppercase;
            text-decoration: none;
            background-color: #feca0a;
            border-radius: 0px !important;
            border: none;
            padding: 10px 20px;
        }
        
        .request-button:hover a {
            color: #000;
            text-decoration: none;
        }
        /* .main_banner {
            margin-top: -102px;
            z-index: -1;
            position: relative;
        }
        
        .carousel-item {
            width: 100%;
            height: 85vh;
        } */
        /* .banner-row-item {
            max-width: 100%;
            width: 100%;
        }
        
        .item_1 {
            display: flex !important;
            justify-content: center;
            align-items: center;
            background-image: url(./image/header_background.png);
            background-position: center;
            background-size: cover;
        } */
        
        .heading_content {
            display: flex;
            align-items: center;
        }
        
        .heading_content h1 {
            padding-top: 40px;
        }
        
        .bannerheadingspan {
            font-size: 32px;
            font-family: 'Montserrat', sans-serif;
            font-weight: 400;
            background-color: #fff;
            padding: 8px;
        }
        
        .bannerheadingspanyellow {
            font-size: 36px;
            font-family: 'Montserrat', sans-serif;
            font-weight: bold;
            background-color: #feca0a;
            padding: 8px;
        }
        
        .banner_image {
            max-width: 100%;
            width: 100%;
            margin-bottom: -35px;
        }
        /* @media (min-width: 992px) {
        .banner_image {
            max-width: 100%;
            width: 100%;
            margin-bottom: -35px;
        }
    }
    
    @media (min-width: 1200px) {
        .banner_image {
            max-width: none;
            width: fit-content;
            margin-bottom: -35px;
            object-fit: cover;
            height: 100%;
        }
    } */
        
        .loginsection {
            padding: 40px 0 100px 0;
            /* margin-top: -20px; */
        }
        
        .shadowbg {
            margin-top: 180px;
            padding: 0px 70px;
            box-shadow: 0px 2px 15px 0px #a0a0a05d;
            flex-wrap: wrap;
        }
        
        .headinggcontent {
            margin-bottom: 26px;
        }
        
        .headingcontent {
            padding: 70px 50px 50px 0;
        }
        
        .borderright {
            border-right: 1px solid #a0a0a091;
        }
        
        .formcontent {
            padding: 50px 50px 50px 50px;
        }
        
        .form-control {
            border: 0px;
            border-radius: 0px;
            outline: none;
        }
        
        .form-control:focus {
            border: 0px;
            border-radius: 0px;
        }
        
        input[type=email] {
            border-bottom: 2px solid #feb902;
        }
        
        input[type=email]:focus {
            outline: none;
        }
        
        input[type=password] {
            border-bottom: 2px solid #feb902;
        }
        
        .formcontent button {
            background-color: #feb902;
            border: 0px;
        }
        
        .formcontent button:hover {
            background-color: #feb902;
            border: 0px;
        }
        
        .forpassword a {
            font-weight: 600;
            margin-right: 10px;
            margin-left: 10px;
        }
        /* Category section start */
        
        .firstcategorysection {
            padding-top: 50px;
        }
        
        .firstcategorysection .col-md-3 {
            margin-bottom: 30px;
        }
        
        .categorysection h2 {
            font-size: 62px;
            font-family: 'Montserrat', sans-serif;
            font-weight: 800;
            text-transform: uppercase;
        }
        
        .main_title {
            position: relative;
        }
        
        .title_back_heading {
            position: absolute;
            top: -60px;
            left: -45px;
            font-size: 96px;
            font-weight: bold;
            z-index: -1;
            -webkit-text-fill-color: white;
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: #e7e7e7;
        }
        
        .categorysection span {
            border: 2px solid #feca0a;
            margin-top: -5px;
        }
        
        .categoryimgbox {
            display: flex;
            justify-content: center;
            border: 1px solid #514f4f33;
            margin: 0px 15px;
            border-radius: 5px;
        }
        
        .categoryimgbox img {
            width: 315px !important;
            max-width: 100%;
            height: 316px;
            max-height: 316px ;
            object-fit: cover !important;
            padding: 10px;
            border: none;
        }
        
        .category_titleheading {
            text-align: center;
            padding-top: 20px;
        }
        
        .category_titleheading h3 {
            font-size: 20px;
            font-family: 'Montserrat', sans-serif;
            font-weight: 500;
            border: 0 !important;
        }
        
        .morecategory {
            margin-top: 60px;
            text-align: center;
        }
        
        a.custombutton {
            color: #000;
            font-size: 18px;
            font-family: 'Montserrat', sans-serif;
            font-weight: 500;
            text-decoration: none;
            background-color: #feca0a;
            padding: 10px 25px;
        }
        /* catgeory section css end  */
        /* about us section css start */
        
        .aboutussection {
            padding: 60px 0px 80px 0px;
        }
        
        .aboutussection h2 {
            font-size: 40px;
            font-family: 'Montserrat', sans-serif;
            font-weight: 800;
            text-transform: uppercase;
        }
        
        .wrappersection {
            padding: 80px 80px 40px 40px;
            box-shadow: 0px 2px 15px 0px #a0a0a091;
            background-color: #fff;
            z-index: 1;
        }
        
        .contantbox {
            position: relative;
        }
        
        .contantbox .title_back_headin {
            top: -40px;
            left: -34px;
            font-size: 72px;
            font-weight: 800;
            position: absolute;
            z-index: -1;
            -webkit-text-fill-color: white;
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: #e7e7e7;
        }
        
        .wrappersection p {
            font-size: 18px;
            font-family: 'Montserrat', sans-serif;
            font-weight: 400;
            line-height: 1.5;
            margin-top: 20px;
        }
        
        .imageright {
            position: relative;
            top: -40px;
            left: -40px;
            z-index: -1;
            text-align: center;
            padding: 20px auto;
            background-image: url(./image/design-space-paper-textured-background.png);
        }
        
        .imageright img {
            width: 100%;
            max-width: 100%;
            padding: 105px 50px;
            mix-blend-mode: screen;
        }
        
        .rectangleright {
            position: relative;
        }
        
        .backgroundrectangle {
            position: absolute;
            width: 190px;
            height: 1000px;
            right: 0;
            top: 0;
            z-index: -2;
            background-color: #feca0a;
        }
        
        .callnow {
            margin-top: 60px;
            margin-bottom: 10px;
        }
        
        .callnow .custombutton {
            background-color: transparent;
            border: 2px solid #feca0a;
        }
        
        .callnow .custombutton span {
            background-color: #feca0a;
            padding: 22px 20px;
            margin-right: 20px;
            margin-left: -40px;
            border-radius: 100px;
        }
        
        .custombutton .fa.fa-phone {
            color: #000;
            font-size: 26px;
            transform: rotate(90deg);
            transition: all .25s ease-in-out
        }
        
        .uspsection {
            margin-top: 20px;
            padding: 80px auto;
            background-color: #000;
        }
        
        .wrapperssectionmargin {
            padding: 60px 0;
        }
        
        .imagebox {
            text-align: center;
        }
        
        .imagebox img {
            width: 80px;
            max-width: 80px;
        }
        
        .uspheading {
            font-size: 48px;
            text-align: center;
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: #e7e7e7;
            margin-top: 35px;
            line-height: 0.7;
        }
        
        .uspheading span {
            font-size: 24px;
            color: #fff;
            font-family: 'Montserrat', sans-serif;
            font-weight: 200;
        }
        /* features section start here */
        
        .featuresicon {
            display: flex;
            margin-bottom: 54px;
        }
       
        
        .iconn {
            display: flex;
            align-items: center;
            background-color: #feca0a;
            padding: 25px 48px 25px 12px;
            margin-bottom: 80px;
        }
        
        .iconn img {
            width: 35px;
            max-width: 35px;
        }
        
        .contentt {
            position: relative;
            left: -35px;
            top: 20px;
            padding: 14px 14px;
            background-color: #fff;
            box-shadow: 0px 2px 15px 0px rgb(160 160 158 / 0.28);
        }
        
        .contentt h3 {
            font-size: 24px;
            font-family: 'Montserrat', sans-serif;
            font-weight: 600;
        }
        
        .imagee img {
            margin-top: -20px;
            width: 100%;
            max-width: 100%;
        }
        /* how it works section start here */
        
        .countingg span {
            font-size: 64px;
            font-family: 'Montserrat', sans-serif;
            font-weight: 600;
            border: 0px;
        }
        
        .countingg {
            margin-right: 28px;
        }
        
        .contentttbox {
            margin-bottom: 0px !important;
        }
        
        .contentttbox h3 {
            font-size: 24px;
            font-family: 'Montserrat', sans-serif;
            font-weight: 600;
        }
        
        .contentttbox h3 hr {
            margin-top: 3px;
            color: #feca0a;
            width: 80% !important;
            height: 2px;
        }
        
        .headingcontentt {
            padding-right: 90px;
        }
        
        .imageee {
            text-align: center;
        }
        
        .imageee img {
            width: 80%;
            max-width: 80%;
            height: auto;
            object-fit: cover;
        }
        
        .rowmargin {
            padding-top: 50px;
            padding-bottom: 50px;
        }
        
        .lineimage {
            text-align: center;
            margin-bottom: 50px;
        }
        
        .lineimage img {
            max-width: 80%;
            height: 250px;
            object-fit: cover;
        }
        /* footer start here */
        
        .footerlogo img {
            width: 140px;
        }
        
        footer {
            background-image: url(./image/footer-background.png);
            background-size: cover;
            background-position: center;
        }
        
        footer h6 {
            font-size: 18px;
            font-family: 'Montserrat', sans-serif;
            font-weight: 500;
            color: #feca0a;
        }
        
        footer p a {
            line-height: 1.9;
        }
        
        footer p {
            font-size: 16px;
            font-family: 'Montserrat', sans-serif;
            font-weight: 500;
        }
        
        footer p b {
            font-size: 18px;
            font-family: 'Montserrat', sans-serif;
            font-weight: 600;
        }
        
        .socialsicons {
            display: flex;
            justify-content: flex-start;
            margin-top: 30px;
        }
        
        .socialiconalign {
            padding-left: 8px;
            padding-right: 8px;
        }
        
        .socialiconalign i {
            color: #feca0a;
            font-size: 26px;
        }
        /* inner pages css Start here */
        
        .main_machines {
            margin: 90px 0;
        }
        
        .main_machines .col-md-3 {
            margin-bottom: 30px;
        }
        
        .innerpagebanner {
            height: 400px;
            width: 100%;
            margin-top: -100px;
            background-image: url(./image/header_background.png);
            z-index: -1;
            /* position: relative; */
        }
        
        .mainheadertitle h1 {
            color: #fff;
            font-size: 54px;
            font-weight: 700;
            font-family: 'Montserrat', sans-serif;
            margin: 130px 0px 0px 0px;
        }
        
        .mainmachineinner {
            border: none;
            box-shadow: 0px 2px 15px 0px rgb(160 160 158 / 0.28);
        }
        /* inner Sub machine pages css Start here */
        
        .sub_machines {
            margin: 90px 0;
        }
        
        .submachinebox {
            margin: 20px;
            padding: 10px;
            box-shadow: 0px 2px 15px 0px rgb(160 160 158 / 0.28);
        }
        
        .wrapper_box {
            padding: 0px;
        }
        
        .imag img {
            width: 100%;
            height: 220px;
            object-fit: cover;
        }
        
        .imag .img-thumbnail {
            border: none;
        }
        
        .custom-buttonnn {
            text-align: center;
            margin: 30px 0px 10px 0px;
        }
        
        .custom-buttonnn a {
            color: #000;
            font-size: 18px;
            font-family: Open Sans;
            font-weight: 500;
            text-decoration: none;
            background-color: #feca0a;
            padding: 10px 25px;
        }
        
        .megamenuu {
            width: 100%;
            background-color: #000;
        }
        
        .megamenucontent {
            overflow: hidden;
            padding: 0 16px;
        }
        
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            width: 800px;
            left: -250px;
            box-shadow: 2px 4px 6px 0 rgb(0 0 0 / 20%);
            z-index: 1;
            padding: 20px;
            overflow: hidden;
        }
        
        .dropdown-content .main_heading_ {
            font-size: 20px !important;
            color: #000;
            border-bottom: 1px solid #DCDCDC;
        }
        
        .dropdown-content .main_heading_ a {
            font-size: 20px !important;
            color: #000;
        }
        
        .dropdown:hover .dropdown-content {
            display: block;
        }
        
        .megamenulinks {
            padding: 20px 0;
            width: 50%;
        }
        
        .productslist {
            width: 50%;
            margin-top: 20px;
            border-left: 1px solid #feca0a;
        }
        
        .productsdesc {
            display: flex;
            margin-left: 20px;
            align-items: center;
            border-bottom: 1px solid #feca0a;
        }
        
        .productsdesc img {
            width: 15%;
            height: 50px;
            object-fit: cover;
        }
        
        .productsdesc p {
            font-size: 12px;
            margin: 12px 0 12px 15px;
            line-height: 20px;
        }
        
        .productsdescs {
            display: flex;
            margin-left: 20px;
            align-items: center;
        }
        
        .productsdescs img {
            width: 15%;
            height: 50px;
            object-fit: cover;
        }
        
        .productsdescs p {
            font-size: 12px;
            margin: 12px 0 12px 15px;
            line-height: 20px;
        }
        
        .formcontent {
            font-size: 18px;
            font-weight: 600;
        }
        /* blog section start here */
        
        .blogsection {
            padding: 60px 0 100px 0;
        }
        
        .blogimgbox {
            text-align: center;
            border-radius: 0px;
            box-shadow: 0px 5px 10px 0px rgba(204, 204, 204, 0.575);
            padding: 20px;
        }
        
        .blogimgbox:hover {
            text-align: center;
            border-radius: 0px;
            box-shadow: 0px 8px 20px 0px rgb(225 219 219 / 98%);
            padding: 20px;
        }
        
        .blogimgbox img {
            width: 100%;
            margin: 0 auto;
            border: none;
            border-radius: 0px;
        }
        /* video section start here */
        
        #video {
            padding: 100px 0;
            background: linear-gradient(to right, rgba(0, 0, 0, 0.397), #ffffff0e), url("../style/image/main_banner_1.jpg");
            background-position: center;
            background-size: cover;
            margin-top: 60px;
        }
        
        #video .carousel-control-prev {
            left: 5%;
        }
        
        #video .carousel-control-next {
            right: 5%;
        }
        /* submachine details page css start here */
        
        .submachinedetails {
            padding: 120px 0;
        }
        
        .submachineheading {
            padding: 8px 20px;
            background-color: #FECA0A;
            border-radius: 5px;
        }
        
        .submachineheading h3 {
            font-size: 24px;
            font-family: 'Montserrat', sans-serif;
            font-weight: 600;
            line-height: 2;
        }
        
        .submachineprice {
            display: flex;
            align-items: center;
        }
        
        .submachineprice h4 {
            font-size: 18px;
            font-family: 'Montserrat', sans-serif;
            font-weight: 600;
            line-height: 1;
        }
        
        .submachineprice a {
            line-height: 1;
            margin-left: 50px;
            padding: 12px 40px;
            background-color: #FECA0A;
            border-radius: 8px;
            color: #000;
        }
        
        .submachineprice a:hover {
            line-height: 1;
            margin-left: 50px;
            padding: 12px 40px;
            background-color: #FECA0A;
            border-radius: 8px;
            color: #fff;
        }
        
        .submachineprice h4 span {
            font-size: 18px;
            font-family: 'Montserrat', sans-serif;
            font-style: italic;
            font-weight: 700;
        }
        
        #image {
            -webkit-animation-name: flow;
            /* Safari 4.0 - 8.0 */
            -webkit-animation-duration: 1.3s;
            /* Safari 4.0 - 8.0 */
            animation-name: flow;
            animation-duration: 1.5s;
        }
        /* Safari 4.0 - 8.0 */
        
        @-webkit-keyframes flow {
            from {
                opacity: .3;
            }
            to {
                opacity: 1;
            }
        }
        /* Standard syntax */
        
        @keyframes flow {
            from {
                opacity: .3;
            }
            to {
                opacity: 1;
            }
        }
        
        #photo-view-container {
            display: inline-block;
            background-color: #fff;
            width: 100%;
            text-align: center;
            border-radius: 10px;
            margin: 0 auto;
        }
        
        #photo-display {
            display: inline-block;
        }
        
        #selected-photo {
            height: 300px;
            max-height: 300px;
            width: 300px;
            max-width: 500px;
            object-fit: cover;
            object-position: right;
            border-radius: 8px;
        }
        
        #commentary {
            color: #aaa;
        }
        
        #left {
            float: left;
            left: 10%;
        }
        
        #right {
            float: right;
            right: 10%;
        }
        
        #right,
        #left {
            position: relative;
            bottom: -45px;
            cursor: pointer;
        }
        
        #photo-container-holder {
            display: inline-block;
            width: 360px;
            overflow: hidden;
            margin: 0 auto;
        }
        
        #photo-container {
            display: inline-block;
            height: 120px;
            padding: 10px 0;
            -webkit-transition: all 0.50s ease;
            -moz-transition: all 0.50s ease;
            -o-transition: all 0.50s ease;
            transition: all 0.50s ease;
        }
        
        .photo-holder {
            background-color: #888;
            display: inline-block;
            width: 100px;
            height: 100px;
            margin: 0 5px;
            text-align: center;
            vertical-align: middle;
            overflow: hidden;
            border-radius: 8px;
        }
        
        .photo-item {
            cursor: pointer;
        }
        
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }
        
        td,
        th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        
        tr:nth-child(even) {
            background-color: #dddddd;
        }
        
        a.intrestedbtn {
            border-radius: 8px;
            font-size: 16px;
            font-family: 'Montserrat', sans-serif;
            font-weight: 500;
            color: #000;
        }
        
        .pdding {
            margin-right: 20px;
        }
        
        a.intrestedbtn:hover {
            border-radius: 8px;
            font-size: 16px;
            font-family: 'Montserrat', sans-serif;
            font-weight: 500;
            color: #fff;
        }
        
        .videossdisplay video {
            border-radius: 6px;
        }
        /* search page css start */
        
        .searchgroup {
            width: 60%;
            max-width: 100%;
        }
        
        .searchgroup .btn.btn-outline-primary {
            background-color: #feb902;
            border: 1px solid #feb902;
            color: #000;
        }
        
        .searchgroup input[type=search]:focus {
            border: 2px solid #feb902;
            outline: 2px solid #feb902;
            box-shadow: none;
        }
        
        .searchgroup input[type=search] {
            height: 60px;
        }
        
        .searchgroup button i {
            padding: 10px 20px;
        }
        
        .searchgroup button.btn:focus {
            box-shadow: none;
        }
        
        .serachdatatable {
            padding: 80px;
        }
        /* contact us page css start here */
        
        .contactdetails {
            padding: 120px 0px 60px 0px;
        }
        
        .contactdetails1 {
            padding: 60px 0px 60px 0px;
        }
        
        .contactdetails2 {
            padding: 60px 0px 120px 0px;
        }
        
        .contactdetails .cardwrapper {
            box-shadow: 0 3px 15px 0px rgb(204 204 204 / 40%);
            border-radius: 8px;
            margin: 0px 0px;
            overflow: hidden;
        }
        
        .contactdetails .cardwrapper img {
            width: 100%;
            height: 250px;
            object-fit: cover;
            object-position: center;
        }
        
        .cardaddress {
            display: flex;
            align-items: center;
            padding: 40px 30px 10px 30px;
        }
        
        .cardaddress .iconset i {
            padding: 18px;
            background-color: #feb902;
            border-radius: 10px;
        }
        
        .cardaddress .addresscontent {
            margin-left: 20px;
        }
        
        .cardphone {
            display: flex;
            align-items: center;
            padding: 10px 30px;
        }
        
        .cardphone .iconset i {
            padding: 18px;
            background-color: #feb902;
            border-radius: 10px;
        }
        
        .cardphone .phonecontent {
            margin-left: 20px;
        }
        
        .cardemail {
            display: flex;
            align-items: center;
            padding: 10px 30px 40px 30px;
        }
        
        .cardemail .iconset i {
            padding: 18px;
            background-color: #feb902;
            border-radius: 10px;
        }
        
        .cardemail .emailcontent {
            margin-left: 20px;
        }
        
        .contactdetails h3 {
            font-size: 24px;
            font-family: 'Montserrat', sans-serif;
            font-weight: 600;
            line-height: 1;
            margin-bottom: 20px;
        }
        
        .contactdetails h4 {
            font-size: 18px;
            font-family: 'Montserrat', sans-serif;
            font-weight: 600;
            line-height: 1;
            margin-bottom: 10px;
        }
        
        h3.addressheading {
            font-size: 30px;
            margin-bottom: 20px;
        }
        /* about us page css start here */
        
        .aboutus {
            padding: 120px;
            ;
        }
        
        .aboutusimg {
            width: 100%;
            max-width: 100%;
            object-fit: cover;
        }
        
        .aboutus a.aboutssbtn {
            margin-top: 30px !important;
        }
        
        .teamsectionn {
            padding: 30px 0px 120px 0px;
        }
        
        .teamsectionn .cardwrapperr {
            box-shadow: 0 .25rem 1.75rem rgba(30, 34, 40, .07)!important;
            border-radius: 8px;
        }
        
        .teamsectionn h2 {
            font-size: 52px;
            font-family: 'Montserrat', sans-serif;
            font-weight: 800;
            text-transform: uppercase;
        }
        
        .teamsectionn .cardwrapperr img {
            width: 110px;
            height: 110px;
            object-fit: cover;
            border-radius: 100px;
        }
        
        .cardwrapperr h3 {
            font-size: 22px;
            font-family: 'Montserrat', sans-serif;
            font-weight: 500;
        }
        
        .cardwrapperr div {
            font-size: 16px;
            font-family: 'Montserrat', sans-serif;
            font-weight: 500;
            color: #aab0bc;
            text-transform: uppercase;
        }
        /* parts & services css start */
        
        .queryformparts {
            margin: 100px 0;
        }
        
        .fromdiv {
            width: 80%;
            max-width: 100%;
            margin: auto;
            background-color: #feca0a;
            padding: 60px;
            border-radius: 20px;
        }
        
        .queryformparts .form-label {
            font-size: 18px;
            font-weight: 400;
            font-family: Open Sans;
        }
        
        .queryformparts form input[type=text],
        [type=email],
        [type=tel],
        select {
            border-radius: 6px !important;
        }
        
        .queryformparts .form-control:focus {
            box-shadow: none !important;
            border: 2px solid #0000003d;
        }
        
        .queryformparts .form-select:focus {
            box-shadow: none !important;
            border: 2px solid #0000003d;
        }
        
        .image {
            position: relative;
            width: 400px;
            max-width: 100%;
            height: 350px;
            object-fit: cover;
        }
        
        .image__img {
            display: block;
            width: 100%;
            /* padding: 15px; */
            border-radius: 10px ;
            height: 100%; 
            object-fit: cover ;
        }
        
        .image__overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.6);
            color: #ffffff;
            font-family: 'Quicksand', sans-serif;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            opacity: 0;
            transition: opacity 0.25s;
        }
        
        .image__overlay--blur {
            backdrop-filter: blur(5px);
        }
        
        .image__overlay--primary {
            background: #00000052;
            border-radius: 10px;
        }
        
        .image__overlay>* {
            transform: translateY(20px);
            transition: transform 0.25s;
        }
        
        .image__overlay:hover {
            opacity: 1;
        }
        
        .image__overlay:hover>* {
            transform: translateY(0);
        }
        
        .image__title {
            font-size: 25px;
            font-weight: bold;
            text-align: center !important;
        }
        
        .image__description {
            font-size: 1.25em;
            margin-top: 0.25em;
        }